# Google Cloud Service Account Key Path
# This should point to the service account JSON key file location inside the Docker container
GOOGLE_APPLICATION_CREDENTIALS="/var/tmp/code/gcp_sa_key.json"

# Google Cloud Project ID
# Replace with your GCP project ID
TF_VAR_gcp_project=your-gcp-project-id

# Google Cloud Region
# Replace with your preferred region (e.g., us-central1, europe-west1, australia-southeast1)
TF_VAR_gcp_region=your-gcp-region

# Terraform State Storage Bucket Name
# Replace with your unique bucket name for storing Terraform state
TF_VAR_tfstate_bucket=your-terraform-state-bucket-name

TF_LOG=INFO